 <div class="center hero-unit"> 
  <h1>Dwidder</h1>
  
  <h2>
    This is the home page for my first complete app,<br />
    a clone of Twitter built using the  
    <a href="http://railstutorial.org">
    Ruby on Rails tutorial</a>.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>