<footer class="footer">
  <small>
    <a href="http://github.com/brandonclosson">github.com/brandonclosson</a><br />
    <a href="http://railstutorial.org">Rails Tutorial</a> by Michael Hartl
  </small>
  <nav>
    <ul>
      <li><%= link_to 'About', about_path %></li>
      <li><%= link_to 'Contact', contact_path %></li>
      <li><%= link_to 'Source', 'http://github.com/brandonclosson/dwidder' %></li>
    </ul>
  </nav>
</footer>